
@font-face {
  font-family: "SegoeUIRegular";
  src: local('SegoeUI');
  src: url("src/fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("src/fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("src/fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: local('SegoeUI');
  src: url("src/fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("src/fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("src/fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SegoeUIItalic";
  src: local('SegoeUI');
  src: url("src/fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("src/fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
  url("src/fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("src/fonts/SegoeUILight/SegoeUILight.eot");
  src: url("src/fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("src/fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("src/fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("src/fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
  url("src/fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasRegular";
  src: url("src/fonts/BebasRegular/BebasRegular.eot");
  src: url("src/fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/BebasRegular/BebasRegular.woff") format("woff"),
  url("src/fonts/BebasRegular/BebasRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasBook";
  src: url("src/fonts/BebasBook/BebasBook.eot");
  src: url("src/fonts/BebasBook/BebasBook.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/BebasBook/BebasBook.woff") format("woff"),
  url("src/fonts/BebasBook/BebasBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasBold";
  src: url("src/fonts/BebasBold/BebasBold.eot");
  src: url("src/fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/BebasBold/BebasBold.woff") format("woff"),
  url("src/fonts/BebasBold/BebasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasLight";
  src: url("src/fonts/BebasLight/BebasLight.eot");
  src: url("src/fonts/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/BebasLight/BebasLight.woff") format("woff"),
  url("src/fonts/BebasLight/BebasLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasThin";
  src: url("src/fonts/BebasThin/BebasThin.eot");
  src: url("src/fonts/BebasThin/BebasThin.eot?#iefix")format("embedded-opentype"),
  url("src/fonts/BebasThin/BebasThin.woff") format("woff"),
  url("src/fonts/BebasThin/BebasThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
